.container {
    background-color: #6669FE;
    color: white;
    text-align: center;
    margin: auto;
    width: 346px;
    border: none;
    border-radius: 8px;

    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    position: relative;
}

.container:hover {
    color: #6669FE;
    background-color: white;
}

.container {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.img {
    transition: filter 0.3s ease;
}

.container:hover .img {
    filter: brightness(0) saturate(100%) invert(28%) sepia(83%) saturate(485%) hue-rotate(210deg);
}



.title {
    font-weight: 700;
    font-size: 24px;
}

.subtitle {
    font-weight: 400;
    font-size: 12px;
}

@media (max-width:950px) {
    .container {
        width:320px;
        display: flex;
        align-items: center;
        /* gap:20px; */
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        /* opacity: 0.5; */
    }

    .img {
        width: 36px;
        height: 36px;

    }

    .imageContainer {
        /* flex: 2; */
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: #7E81FF;
        display: flex;
        align-items: center;
        padding: 20px;
        border: none;
        border-radius: 8px;
        transition: color 0.6s ease,background-color 0.6s ease;
    }

    .title {
        flex: 2;
        margin-left: 50px;
    }

    .container:hover .imageContainer {
        color: #7E81FF;
        background-color: white;
    }

    .container:hover .imageContainer .img {
        filter: brightness(0) saturate(100%) invert(28%) sepia(83%) saturate(485%) hue-rotate(210deg);

    }

    /* .container {
        background-color: #E66DFF;
        color: white;
        text-align: center;
        margin: auto;
        width: 346px;
        border: none;
        border-radius: 8px;
    
       
        cursor: pointer;
        position: relative;
    } */

    .subtitle {
        display: none;
    }
}